:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --primary-white-color:#FFFFFF;
    --accent-color:#2196F3;
    --hero-color: #2F303A;
    --primary-background-color:#E5E5E5;
    --active-button-color:#188CE8;
    --accent-background-color:#F5F4FA;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color:var(--title-text-color);
}


/* HEADER */
.header {
    background-color: var(--primary-white-color);
} 

.logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.logo>span {
    color:var(--accent-color);
}

.logo.contrast {
    color: var(--primary-white-color);
}

.nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);
}

.current {
    color: var(--accent-color);
}

.nav-link.current:hover,
.nav-link.current:focus {
    color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}


.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}


/* HERO */
.hero-section {
    background-color: var(--hero-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--active-button-color);
}

/* ADVANTAGES */

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--title-text-color);
}

.advantages-text {
    line-height: 1.71;
}

/* SERVICES  */

/* TEAM */

.team-section {
    background-color: var(--accent-background-color);
}

.team-item {
    background-color: var(--primary-white-color);
}

.team-top-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.team-bottom-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

/* FOOTER */
footer {
    background-color: var(--hero-color);
}

.footer-logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;


    color: var(--primary-white-color);
}

.address-link {
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--primary-white-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

footer .contact-link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

    
/*   PORTFOLIO                             */

.portfolio-button {
    background: var(--accent-background-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

    cursor: pointer;

}

.portfolio-button:hover,
.portfolio-button:focus {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-button.current {
    background-color: var(--accent-color);

    color: var(--primary-white-color);
}

.example-item {
    background-color: var(--primary-white-color);
}

.example-top-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}

.example-bottom-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);

}



